
.container {
	max-width: 470px;
	margin: 1 auto;
	background: #fff;
	border-radius: 8px;
	padding: 12px;
}
.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}

button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}

button.primaryContained:hover {
	background: #9201A8;
}
.slika{
	max-height:100%;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.post{
  height: 150px !important;
  }
 .userShowcase{
  height:75px !important;
 }
.mock-outer{
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(208, 209, 213);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(223, 224, 228);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(223, 224, 228);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(229, 230, 233);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(20, 24, 35);
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 469px;
  line-height: 16.0799999237061px;
  margin-bottom: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: left;
  width: 470px;
  word-wrap: break-word;

  }


  .mock-inner{
	  direction: ltr;
	  display: block;
	  height: 473px;
  }
  
 button#accept_btn {
    margin-left: 80px;
}
button#deleteComment_btn{
	margin-left:150px;
	margin-bottom:10px;
}
  
  .usertext{
    color: rgb(20, 24, 35);
  direction: ltr;
  display: inline;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  line-height: 19.3199996948242px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  width: auto;
  word-wrap: break-word;

  }
  .inline{
  display:inline-flex !important;
  }
  
  .mock-img-all{
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1.5px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1.5px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 366px;
  line-height: 16.0799999237061px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: left;
  width: 470px;
  word-wrap: break-word;
  z-index: 0;

  }
  .mock-img{
    color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 246px;
  line-height: 0px;
  position: relative;
  text-align: left;
  width: 470px;
  word-wrap: break-word;
background:grey;

  }
  .mock-title{
  color: rgb(20, 24, 35);
  direction: ltr;
  display: block;

  height: 100px;

  word-wrap: break-word;

  }
  .mock-title2{
  direction: ltr;
  display: block;
  font-size: 12px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
  max-height: 100px;
  position: relative;

  }
  .mock-title-top{
  color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: Georgia, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 44px;
  line-height: 22px;
  margin-bottom: 5px;
  max-height: 110px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-decoration: none;
  width: 446px;
  word-wrap: break-word;

  }
  .mock-title-mid{
    color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  max-height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  width: 446px;
  word-wrap: break-word;

  }
  .mock-title-cap{
  direction: ltr;
  display: block;
  height: 11px;
  padding-top: 9px;
  position: relative;
  width: 446px;


  }
  .mock-title-cap-text{
  color: rgb(145, 151, 163);
  direction: ltr;
  display: block;
  font-size: 11px;
  height: 11px;
  line-height: 11px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 446px;
  word-wrap: break-word;
  }
.fb-group-picrow{
      color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 16.0799999237061px;
  margin-bottom: 11px;
  text-align: left;
}
.fbh5{
      color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 19px;
  line-height: 19.3199996948242px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 22px;
  padding-top: 0px;
  text-align: left;
  width: 86px;
}
.fb-group-text{
    color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 16.0799999237061px;
  text-align: left;
  width: 422px;
  word-wrap: break-word;
}
.fb-group-date{
      color: rgb(145, 151, 163);
  direction: ltr;
  display: inline;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: auto;
  line-height: 16.0799999237061px;
  text-align: left;
  width: auto;
}
.fb-group-text-top{
      color: rgb(20, 24, 35);
  direction: ltr;
  display: table-cell;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 16.0799999237061px;
  text-align: left;
  vertical-align: top;
  width: 422px;
}
.fb-group-picrow img{
  border-bottom-color: rgb(59, 89, 152);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(59, 89, 152);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(59, 89, 152);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(59, 89, 152);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(59, 89, 152);
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 16.0799999237061px;
  text-align: left;
  width: 40px;
  float:left;
  padding-right:8px  
}





/* CSS */
.button-pretty {
  display:inline-block;
  margin-right:10px;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  height:27px;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-pretty:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}



div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}