body{
	margin: 0px;
	background-image: url("../pozadina.jpg");
	background-size: cover;
	background-attachment: fixed;
}


.main{
	margin: auto;
	width: 550px;
	font-size: 20px;
}

.searchForm{
	margin: auto;
	width: 550px;
	font-size: 20px;
}

.header
{  
	background-color: #C5C6C7;
	height:95px;
	text-align: center;
	
}
.moveRight{
	margin-left:100px !important;
}

.sameRowButton {
  margin-right: 10px;
  margin-bottom : 20px;
  width : 100px;
  height: 60px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border: none;
  display:inline-block;

  color: #fff;
 /* boje  orange (255,127,0) blue (0,159,198)  red(238,65,58)  purple(137,108,174))*/
  background: rgb(0,159,198);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.negativeButton{
	background: rgb(238,65,58) !important;
}

.sameRowButton:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
#nav
{
	background-color: rgb(137,108,174);
	height: 35px;
	font-size: 25px;
	font-weight:bold;
	font:Tahoma; 
	margin-bottom: 60px;
}

#nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	text-align: center;
}

#nav ul a
{
	display:block;
	color:white;
	text-decoration:none;
	font-weight:700;
	font-size:20px;
	line-height:32px;
	padding:0 15px;

}


#nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}



#nav ul li:hover
{
	background:#f6f6f6;
	
}
#nav ul li a:hover
{
	
	color: black;	
}

#nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

#nav ul ul li
{
	float:none;
	width:200px;
}

#nav ul ul a
{
	line-height:120%;
	padding:10px 15px;
	color: black;
}

#nav ul ul ul
{
	top:0;
	left:100%;
}

#nav ul li:hover > ul
{
	display:block;
}




table.mainTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  font:Tahoma;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  align: "center";
}
table.mainTable td, table.mainTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.mainTable tbody td {
  font-size: 20px;
}
table.mainTable tr:nth-child(even) {
  background: #FFFFFF;
}
table.mainTable thead {
  background: #123C69;
  border-bottom: 2px solid #444444;
}
table.mainTable thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.mainTable thead th:first-child {
  border-left: none;
}




 





 
