			<ul>
			<li> <a href = "../static/korisnik.html" id = "homepage_btn" > Pocetna </a> </li>
			<li> <a href = "../static/pretragaUser.html" id = "search_btn">Pretraga </a> </li>
			<li> <a href = "" id = "profile_btn" >Profil </a> 	
				<ul>
					<li><a href = "" id = "viewProfile_btn" > Pregled profila</a></li>
					<li><a href = "../static/galerija.html?username=x" id = "myImages_btn" > Pregled slika </a></li>
					<li><a href = "../static/izmenaProfila.html" id = "changeProfile_btn" > Izmeni podatke </a></li>
					<li><a href = "../static/listaPrijatelja.html" id = "friends_btn" > Lista prijatelja </a></li>
					<li><a href = "../static/listaZahteva.html" id = "friendRequests_btn" > Zahtevi za prijateljstvo </a></li>
				</ul>
			</li>
			<li> <a href = "../static/listaChatova.html" id = "ctatsList_btn">Poruke</a> </li>
			<li> <a id = "logout_btn" href = "">Odjava</a>	 </li>
			</ul>